<section id="sell-strip">
  <div class="wrap">
    <div class="sell-inner">
      <div class="sell-logo-side">
        <img src="/img/logoMultia.webp" alt="MultIA" class="sell-logo-img">
      </div>
      <p class="sell-tagline" data-grad-reveal>Una plataforma.<br/><em>Infinitas posibilidades.</em></p>
      <p class="sell-desc">MultIA unifica los mejores modelos de inteligencia artificial en una experiencia fluida, poderosa y asequible.</p>
    </div>
  </div>
</section>
